
/* Making the written thingies nice */

body {
	font-family: 'Open Sans', 'Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

h1 {
	font-size: 4em;
	font-weight: 300;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	font-style: italic;
}

h3 {
	font-size: 1.3em;
	font-weight: 600;
}

h4 {
	font-size: 1.1em;
	font-weight: 600;
}

p {
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 300;
	color: #000;
}

nav {
	color: #777;
	font-size: .8em;
}

a {
	text-decoration: underline;
	color: #E04613;
}

a:hover {
	background: #E04613;
	color: #fff;
}

/* Moving them blocks around */

#the-middle-bit {
	max-width: 800px;
	margin: 0 auto;
}

article img {
	max-width: 100%;
}

.meta-post-date {
	float: left;
	font-size: .9;
	color: #999;
}