{{#posts}}
	<h1>This&hellip;</h1> 
	<p>&hellip;is what <a href="http://twitter.com/adlpz">@adlpz</a> (that is, me) uses for logging thoughts, testing software and looking fancy.</p>
	<p>You can find here mostly brain junk and other niceties.</p>
	<h1>There were posts</h1>
	<article>
		<a href="{{ &permalink }}">{{ title }}</a>
		<div class="meta-post-date">
			{{ created }}
		</div>
	</article>
{{/posts}}